/*--background patterns courtesy of subtlepatterns.com--*/

body{
	max-width: 1500 px;
	background-image: url(images/congruent_outline.png);
	background-repeat: repeat;
}

h1{
	font-family: 'Raleway', Arial, sans-serif;
	text-shadow: -1px 0 0 rgb(0,0,0);
	text-transform: uppercase;
	color: rgba(65,106,196,0.8);
}

h2{
	border-bottom: 1px solid black;
}

h2, h3{
	font-family: 'Cutive Mono', sans-serif;
	text-transform: uppercase;
}

h3{
	font-size: 18px;
}

p, li, td{
	font-family: 'Cutive Mono', Courier, monospace;
	font-size: 15px;
}


/**----------HEADER AND CONTACT INFO----------
 * -------------------------------------------
 * -----------------------------------------*/
.contact_info{
	position: relative;
	background-image: url(images/congruent_pentagon.png);
	background-repeat: repeat-x;
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: 0 -1px 0 1px rgba(0,0,0,0.2);
	border-radius: 30px;
	height: 180px;
	margin: 0 auto;
	overflow-x: auto;
}

.wrapper{
	width: 65%;
	height: 100%;
	//float: left;
	position: absolute;
	left: 135px;
	top: 0;
	z-index: 2;
	background: rgb(255,255,255);
	opacity: 0.7;
}

.info{
	//padding: 0 0 0 35px;
	width: 65%;
	float: left;
	position: absolute;
	left: 150px;
	top: 0;
	z-index: 3;
}

.info *{
	margin: 0;
	padding: 0;
}

.personal-picture{
	height: 180px;
	border-radius: 30px 0 0 30px;
	border-right: 1px solid rgb(0,0,0);
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.3);
	margin: 0;
	float: left;
}

.selection-icon{
	border-radius: 40px;
	height: 50%;
}

.selection-icon:hover{
	box-shadow: 0 0 2px 2px rgba(214,194,64,1);
}

nav{	
}

figure{
	text-align: center;
	display: inline-block;
}	

figcaption{
	font-size: 10px;
	text-align: center;
	font-family: Arial, sans-serif;
}

.icon{
	margin-right: 15px;
}

/**---------GENERAL SECTION CSS---------------
 * -------------------------------------------
 * ------------------------------------------*/
.resume-container{
	margin: 0 auto;
	max-width: 95%;
}

.main-section{
	margin: 0 30px 0 30px;
}

.resume-section{
	background-image: url(images/lightpaperfibers.png);
	background-repeat: repeat;
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	width: 95%;
}


/**----------EDUCATION SECTION----------------
 * -------------------------------------------
 * -----------------------------------------*/
.education{
	width: 50%;
}

.education td:nth-of-type(odd){
	width: 70%;
}

.education td:nth-of-type(even){
	width: 30%;
}

.education *:NOT(ul){
	margin: 0;
	padding: 0;
}

.education .date, .education .location{
	display: block;
	float: right;
}

/**----------TECHNICAL SECTION----------------
 * -------------------------------------------
 * -----------------------------------------*/
.resume-section:nth-of-type(3){
	overflow-x: auto;
}

.technical{
	width: 100%;
}

.technical tr{
	width: 100%;
	margin: 0 0 15px 0;
}

.technical tr:first-of-type td{
	font-family: Arial, sans-serif;
}

.technical td{
	text-transform: uppercase;
	text-align: center;
	width: 20%;
	height: 10%;
}

.technical td:first-child{
	font-size: 15px;
	text-transform: none;
	text-align: left;
	width: 10%;
}

.experience-2{
	background: rgba(240,223,117,0.3);
	margin: 1 px;
	width: 100%;
	height: 10px;
	border: 1px solid rgb(181,179,165);
	float: right;
	display: inline-block;
	
	box-shadow: -1px 1px rgba(0,0,0,0.3);
}

tr td:nth-of-type(2) .experience-2{
	border-radius: 5px 0 0 5px;
}

tr td:nth-of-type(4) .experience-2{
	border-radius: 0 5px 5px 0;
}

tr:nth-of-type(2) td:nth-of-type(2) .experience-2, tr:nth-of-type(2) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(3) td:nth-of-type(2) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(4) td:nth-of-type(2) .experience-2, tr:nth-of-type(4) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(5) td:nth-of-type(2) .experience-2, tr:nth-of-type(5) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(6) td:nth-of-type(2) .experience-2, tr:nth-of-type(6) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(7) td:nth-of-type(2) .experience-2, tr:nth-of-type(7) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(8) td:nth-of-type(2) .experience-2, tr:nth-of-type(8) td:nth-of-type(3) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(9) td:nth-of-type(2) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(10) td:nth-of-type(2) .experience-2{
	background: rgba(240,223,117,1);
}

tr:nth-of-type(11) td:nth-of-type(2) .experience-2{
	background: rgba(240,223,117,1);
}

/**--------------WORK SECTION-----------------
 * -------------------------------------------
 * -----------------------------------------*/
 .work{
	width: 97%;
	margin-top: 15px;
}

.work td:nth-of-type(odd){
	width: 60%;
}

.work td:nth-of-type(even){
	width: 40%;
}

.work *:NOT(ul){
	margin: 0;
	padding: 0;
}

.work .date, .work .location{
	display: block;
	float: right;
}
